

body {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

canvas {
    border: 2px solid #000000;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

canvas:hover {
    scale: 1.1;
}